{%extends 'partials/base.html'%}
{%block title%}
Admin View PAGE
{%endblock%}

{%block content%}
<p>
<p>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card my-2">
        <div class="user text-center">
            <div class="profile"> <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" class="rounded-circle" width="80"> </div>
        </div>
        <div class="mt-3 text-center px-2">
            <h4 class="mb-0">{{profile}}</h4> <span class="text-muted d-block mb-2"><p></span>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">Screen Name</th>
        <th scope="col">Team Name</th>
        <th scope="col">Spoc Name</th>
        <th scope="col">Created Date</th>
        <th scope="col">Created by</th>
        <th scope="col">Modified Date</th>
        <th scope="col">Modified By</th>
        <th scope="col"></th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{entry.screen_name}}</td>
          <td>{{entry.team_name}}</td>
          <td>{{entry.spoc_name}}</td>
          <td>{{entry.created_date}}</td>
          <td>{{entry.created_by}}</td>
          <td>{{entry.modified_date}}</td>
          <td>{{entry.modified_by}}</td>
          <td><button type="submit" class="btn btn-success text-right" onclick="location.href='{% url 'confirm' entry.id %}'">Approve</button></td>
          <td><button type="submit" class="btn btn-danger text-right" onclick="location.href='{% url 'reject' entry.id %}'">Reject</button></td>
          <script type="text/javascript">
            function change( el )
            {
                if ( el.value === "delete" )
                    el.value = "pending";
                else
                    el.value = "pending";
            }
            </script>
        </tr>
        
      {% endfor %}
    </tbody>
    
  </table>
  
{%endblock%}