{%extends 'partials/base.html'%}
{%block title%}
Confirm Reject PAGE
{%endblock%}

{%block content%}<div>
    <p>
    <p>
    <p>
    <text><h2 style="text-align:center">Are you sure you want to reject?</h2></text>
</div>
<div class="col-md-6 mt-4 text-right">
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary text-right" onclick="location.href='{% url 'admin-view' %}'">Yes</button>
</form>
<p>
    <p>
<button type="button" class="btn btn-secondary text-right" onclick="location.href='{% url 'admin-view' %}'">No</button>
</div>
{%endblock%}