{%extends 'spoc/base.html'%}
{%block title%}
INDEX PAGE
{%endblock%}

{%block content%}
<h1> iSpoc</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="user text-center">
            <div class="profile"> <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80"> </div>
        </div>
        <div class="mt-5 text-center">
            <h4 class="mb-0">Jenny h</h4> <span class="text-muted d-block mb-2">PsNo : 10669420</span>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">Screen Name</th>
        <th scope="col">Team Name</th>
        <th scope="col">Spoc Name</th>
        <th scope="col">Created Date</th>
        <th scope="col">Created by</th>
        <th scope="col">Modified Date</th>
        <th scope="col">Modified by</th>
        <th scope="col">Delete</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Project Master</td>
        <td>DU(BFS)</td>
        <td>John</td>
        <td>12/12/21</td>
        <td>John</td>
        <td>12/12/21</td>
        <td>John</td>
        <td><div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"></label>
          </div></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Account Master</td>
        <td>PU(CIS)</td>
        <td>Kennady</td>
        <td>12/12/21</td>
        <td>Kennady</td>
        <td>12/12/21</td>
        <td>Kennady</td>
        <td><div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"></label>
          </div></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Proof Master</td>
        <td>DU(BFS)</td>
        <td>Jerry</td>
        <td>12/12/21</td>
        <td>Jerry</td>
        <td>12/12/21</td>
        <td>Jerry</td>
        <td><div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"></label>
          </div></td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12  text-center">
    <button type="button" class="btn btn-secondary">Send for Approval</button>
  </div>    
{%endblock%}