<!-- Editable table -->
{%extends 'partials/base.html'%}
{%block title%}
Edit PAGE
{%endblock%}

{%block content%}
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Edit Spoc 
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
                <th class="text-center">Sl.no</th>
                <th class="text-center">Screen Name</th>
                <th class="text-center">Team Name</th>
                <th class="text-center">Spoc Name</th>
                <th class="text-center">Created Date</th>
                <th class="text-center">Created by</th>
                <th class="text-center">Modified Date</th>
                <th class="text-center">Modified by</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Proof_master</td>  
              <td>Dev_team</td> 
              <td class="pt-3-half" contenteditable="true">John</td>
              <td>12/12/21</td>
              <td>John</td>
              <td>12/12/21</td>
              <td>John</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12  text-center">
    <button type="button" class="btn btn-secondary">Update</button>
    <button type="button" class="btn btn-secondary">Cancel</button>
  </div>     
  {%endblock%}
  <!-- Editable table -->