<!-- Editable table -->
{%extends 'partials/base.html'%}
{%block title%}
Add Entry PAGE
{%endblock%}

{%block content%}
<form action="" method="POST">
  {% csrf_token %}
  <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Add Spoc 
      </h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"
            ><a href="#!" class="text-success"
              ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
          ></span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                  <th class="text-center">Screen Name</th>
                  <th class="text-center">Team Name</th>
                  <th class="text-center">Spoc Name</th>
                  <th class="text-center">Created by</th>
                  <th class="text-center">Modified by</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{form.screen_name}}</td>
                <!-- This is second one  -->
                <td>{{form.team_name}}</td>
                <td>{{form.spoc_name}}</td>
                <td>{{profile}}</td>
                <td>{{profile}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12  text-center">
      <button class="btn btn-primary text-right" type="submit">Add</button>
      <button type="submit" class="btn btn-primary text-right" onclick="location.href='{% url 'spoc-view'%}'">Cancel</button>
    </div>   
</form>    
{%endblock%}
<!-- Editable table -->